* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#canvas {
    background-color: #eee;
}

